{% extends 'nyumba_kumi/base.html' %}

{% block content %}
    <div class="row">
        {% for business in object_list %}
            <div class="col-md-3">
                <div class="card">

                    <h3>{{ business.name }}</h3>
                    <a href="#" target="_blank"><img
                            style="width: 200px; height: 200px;"
                            src="{{ business.image.url }}"
                            alt="project image"></a>

            <h4>{{ business.location }}</h4>
                    <h5><small>{{ business.hood }}</small></h5>
                </div>
            </div>
        {% endfor %}


    </div>

{% endblock content %}
